<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/confirm_transfer" method="post">
        <label for="transfer_id">Transfer ID:</label>
        <input type="number" id="transfer_id" name="transfer_id"><br><br>
        
        <label for="code_word">Code Word:</label>
        <input type="text" id="code_word" name="code_word"><br><br>
        
        <input type="submit" value="Confirm Transfer">
    </form>
</body>
</html>