<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('initiate_transfer') }}"><button class="initiate_transfer">initiate_transfer</button></a>
    <a href="{{ url_for('confirm_transfer') }}"><button class="confirm_transfer">confirm_transfer</button></a>
    <!-- <a href="{{ url_for('confirm_transfer') }}"><button class="confirm_transfer">confirm_transfer</button></a> -->
</body>
</html>